/* my-modal.css */
dialog {
  width: 100%;
  max-width: 700px;
  min-width: 300px; 
  border: none;
  border-radius: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 24px;
  position: fixed;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  overflow: visible;
}

button[aria-label='close'] {
  position: absolute;
  top: -12px; /* Adjust as needed to position the circle half in and half out */
  left: 93%; /* Adjust to keep the circle half out */
  background-color: blue;
  color: white;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 16px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
